.player-model {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 10px;
  
  margin-left: -5px;
  margin-top: -5px;
}

.player-model .gun {
  position: absolute;
  width: 3px;
  height: 10px;
  top: 4px;
  left: 4px;
}
